# ==========================================
# KonsulYuk Backend - Environment Variables
# ==========================================

# Port server backend (default: 5000)
PORT=5000

# PostgreSQL Connection String (Prisma ORM)
# Format: postgresql://<USER>:<PASSWORD>@<HOST>:<PORT>/<DATABASE>?schema=public
DATABASE_URL="postgresql://postgres:password@localhost:5432/konsulyuk_db?schema=public"

# Secret key untuk signing & verifikasi JWT Token autentikasi
JWT_SECRET="konsulyuk_super_secret_jwt_key_2026"

# Environment aplikasi (development / production)
NODE_ENV="development"

# CORS Origin (Gunakan "*" untuk izinkan semua atau spesifik domain frontend, misal "http://localhost:5173")
CORS_ORIGIN="*"
